<!DOCTYPE html>
<html>
<head>
	<title>Template Page</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">

</head>


<body>
<h1> Heading 1!</h1>
<h2> Heading 1!</h2>
<h3> Heading 1!</h3>
<h4> Heading 1!</h4>

<p>This is a Paragraph.</p>

<a href="http://jesvoight.com">Portfolio!</a>
<a href="secondpage.html">Second Page</a>

<img src="images/sloth.gif">

<div class="mydiv">
	
<h1> This is a static div</h1>
<p> A div is a group of things I created</p>

</div>

<div class="mydiv relative">
	
<h1> This is a relative div</h1>
<p> A relative div is floating but we can give it values left, top, bottom, right</p>

</div>


<div class="mydiv fixed">
	
<h1> This is a fixed div</h1>
<p> A relative div is floating but we can give it values left, top, bottom, right</p>

</div>

<div class="mydiv absolute">
	
<h1> This is a absolute div</h1>
<p> A relative div is floating but we can give it values left, top, bottom, right</p>

</div>


<script type="text/javascript" source = "scripts.scripts.js"></script>
</body>
</html>