h1 {
color: #FF00FF;
font-family:  Helvetica, sans-serif;

}

.mydiv { 
	width: 400px;
	background-color: #E80C7A;
	color: white;
	border: dashed 3px #000000;
	margin: 20px;
	padding: 10px 20px 10px 20px;


}

.mydiv p{
	color: #99FFE1;

}

.relative{
	position: relative;
	left: 200px;
}

.fixed{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: .5;

}

.absolute{
	position: absolute;
	top: 85%;
	right: 10%;


}